<%= form_for(role_ship) do |f| %>
  <% if role_ship.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(role_ship.errors.count, "error") %> prohibited this role_ship from being saved:</h2>

      <ul>
      <% role_ship.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :user_id %>
    <%= f.number_field :user_id %>
  </div>

  <div class="field">
    <%= f.label :role_id %>
    <%= f.number_field :role_id %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
