<p id="notice"><%= notice %></p>

<h1>Role Ships</h1>

<table>
  <thead>
    <tr>
      <th>User</th>
      <th>Role</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @role_ships.each do |role_ship| %>
      <tr>
        <td><%= role_ship.user_id %></td>
        <td><%= role_ship.role_id %></td>
        <td><%= link_to 'Show', role_ship %></td>
        <td><%= link_to 'Edit', edit_role_ship_path(role_ship) %></td>
        <td><%= link_to 'Destroy', role_ship, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Role Ship', new_role_ship_path %>
