<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @role_ship.user_id %>
</p>

<p>
  <strong>Role:</strong>
  <%= @role_ship.role_id %>
</p>

<%= link_to 'Edit', edit_role_ship_path(@role_ship) %> |
<%= link_to 'Back', role_ships_path %>
