<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @post.title %>
</p>

<p>
  <strong>Filename:</strong>
  <%= @post.filename %>
</p>

<p>
  <strong>Qiniu hash:</strong>
  <%= link_to image_tag(qiniu_image_url(@post, :preview)), qiniu_image_url(@post)  %>
</p>

<%= link_to 'Edit', edit_post_path(@post) %> |
<%= link_to 'Back', posts_path %>
