<ul class="nav navbar-nav navbar-meun">
  <% if current_user  %>
    <%= nav_tag(controller: %w(admin/account admin/roles)) do %>
      <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
        帐号管理
        <span class="caret"></span>
      </a>
      <ul class="dropdown-menu">
        <%= nav_tag(controller: 'admin/account') do %>
          <%= link_to '用户管理', admin_account_index_path %>
        <% end %>
        <!--<li role="separator" class="divider"></li>-->
        <%= nav_tag(controller: 'admin/roles') do %>
          <%= link_to '角色管理', admin_roles_path %>
        <% end %>
      </ul>
    <% end %>
    <%= nav_tag(controller: 'admin/posts') do %>
      <%= link_to '文件', admin_posts_path %>
    <% end %>
  <% else %>
    <%= nav_tag(controller: 'posts') do %>
      <%= link_to '文件', posts_path %>
    <% end %>
  <% end %>
</ul>
